* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "微軟正黑體";
}

.login_container {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 60px auto;
    border: 2px solid rgb(243, 170, 161);
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
}

.login_header {
    width: calc(100%-4px);
    height: 15%;
    background-color: rgba(247, 247, 247, 0.8);
    color: gray;
    border-radius: 6px;
    padding-left: 20px;
    line-height: 45px;
    box-sizing: border-box;
}

.input_box {
    margin: 20px 20px;
    /* background-color: red; */

}

.login__title {
    color: gray;
    margin: 10px 0px;
    font-size: 14px;
}

.login__input {
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 30px;
    width: 75%;
    margin-bottom: 5px;
}

.login__warning {
    margin: 5px 0px;
    font-size: 12px;
    color: salmon;
}

.login__btn {
    margin-top: 10px;
}

.pressReg {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
}

.pressReg a {
    text-decoration: none;
    color: #ff6881;
    transition: 0.3s;
}

.pressReg a:hover {
    color: pink;
}

.login__btn {
    width: 60px;
    height: 40px;
    background-color: pink;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    border-radius: 4px;
    transition: 0.3s;
}

.login__btn:hover {
    background-color: #ff6881;
}